body, html, #root {
	height: 100%;
}

.App {
  text-align: center;
  height: 90%;
}

.nav-bar-button {
	flex-grow: 1;
}

.book-logo {
	font-size: 17em !important;
}

#project-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
}
