body, html, #root {
	height: 100%;
}

.App {
  text-align: center;
  height: 90%;
}

.nav-bar-button {
	flex-grow: 1;
}

.book-logo {
	font-size: 17em !important;
}

#project-info {
	padding-top: 10%;
}

.project-info-body {
	padding: 2%;
}
